@import url(https://fonts.googleapis.com/css?family=Open%20Sans);
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

$mobile-only: "only screen and (max-width:768px)";

body {
  margin-top: 0;
  margin-bottom: 0;
}

#wrapper {
  background-color: #f6f6ef;
  position: relative;
  width: 90%;
  min-height: 80px;
  margin: 0 auto;
  font-family: "Roboto","Open Sans","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "sans-serif";
  font-size: 15px;
  // letter-spacing: 0.2px;
  height: 100%;
  // overflow: hidden;

  @media #{$mobile-only} {
    width: 100%;
    background-color: #fff;
  }
}
